@charset 'utf-8';
/*footer*/
#footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 100%;
	padding: 80px;
	background-color: #000;
	color: #fff;
	font-family: "Microsoft Yahei", "Helvetica", "sans-serif";
}
#contact,
#message {
	box-sizing: border-box;
	width: 50%;
	height: 212px;
}
#contact {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
#contact p{
	margin-bottom: 10px;
	line-height: 20px;
	text-align: center;
}
#contact span {
	font-weight: bold;
	font-size: 16px;
}
#contact h3,
#message h3 {
	font-style: italic;
	margin: auto;
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}
#contact ul {
	height: 80px;
}
#contact ul li{
	width: 100%;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}
#message {
	box-sizing: border-box;
	width: 50%;
	border-top: 1px solid #fff;
	text-align: center;
}
#message h3 {
	position: relative;
	top: -24px;
}
#message textarea {
	box-sizing: border-box;
	width: 80%;
	height: 140px;
	margin: auto;
	border-radius: 10px;
	padding: 20px 10px;
	margin-top: 15px;
	resize: none;
	outline: none;
	color: #333;
	transition-duration: .3s;
}
#message textarea:focus {
	box-shadow: 0 0 10px #ccc;
}
#message button {
	position: relative;
	left: -60px;
	top: -10px;
	width: 50px;
	height: 24px;
	border-radius: 10px;
	cursor: pointer;
	background-color: #000;
	color: #fff;
	line-height: 24px;
	transition-duration: .3s;
}
#message button:hover {
	background-color: #aaa;
}
@media screen and (max-width: 800px) {
	#contact,
	#message {
		width: 100%;
	}
	#contact {
		border-right: none;
	}
	#message {
		margin-top: 50px;
		border: none;
	}
}
