@charset 'utf-8';
body {

}
#container {
	width: 100%;
	height: 100%;
}
#header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	border-bottom: 4px solid #000;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}
#logo {
	position: absolute;
	left: 50px;
	border-bottom: 3px solid #000;
	font-size: 18px;
}
#user-menu {
	display: none;
	position: absolute;
	right: 20px;
	font-size: 30px;
	transition-duration: .3s;
}
#menuUl {
	position: absolute;
	top: 80px;
	width: 100%;
	transform: translate(100%);
	transition-duration: .3s;
}
#menuUl li{
	width: 100%;
	height: 140px;
	border-bottom: 1px solid #fff;
	background-color: #000;
	color: #fff;
	line-height: 140px;
	text-align: center;
	transition-duration: .3s;
}
#menuUl li:hover {
	color: #000;
	background-color: #fff;
}
/**/
#content {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 80px);
	padding-top: 80px;
}
#content>ul {
	width: 200%;
	font-size: 0;
	transition-duration: .3s;
}
#content>ul>li {
	overflow: auto;
	display: inline-block;
	width: 50%;
	height: 550px;
	vertical-align: top;
	background-color: #fff;
}
@media screen and (max-width: 620px) {
	#content>ul>li:nth-child(1){
		padding-right: 0;
	}
	#content>ul>li:nth-child(2){
		padding-left: 0;
	}
	#userNav {
		display: none;
	}
	#user-menu {
		display: block;
	}
}
/*下面这个就是#userNav*/
#userNav {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 900px;
	border-left: 300px solid #fff;
	background-color: #000;
	color: #fff;
	perspective: 1000px;
	transition-duration: .5s;
}
#userNav p{
	position: absolute;
	left: -50px;
	width: 350px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	transform-style: preserve-3d;
	transform-origin: right;
	transform: rotateZ(-30deg) rotateY(-10deg);
	transition-duration: .3s;
}
#userNav p:nth-child(2) {
	top: 100px;
}
#userNav p:hover {
	transform: rotateZ(-30deg) rotateY(0);
}
/*infoModi*/
#infoModi {
	box-sizing: border-box;
	font-size: 12px;
	padding-right: 300px;
}
#infoModi h3 {
	text-align: center;
	background: #fff;
	margin-top: 50px;
	margin-bottom: 30px;
}
#infoModi h3 i {
	font-size: 60px;
}
#infoModi p {
	height: 50px;
	/*margin-top: 50px;*/
	text-align: center;
	background-color: #fff;
}
#infoModi span {
	display: inline-block;
	width: 60px;
	margin-right: 30px;
	text-align: left;
	vertical-align: middle;
}
#infoModi input {
	width: 200px;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	vertical-align: middle;
	cursor: pointer;
}
#infoModi .reset {
 	text-align: center;
}
#infoModi .reset i {
	margin-right: 20px;
}
#infoModi .reset i:hover {
	color: #aaa;
}
#infoModi .reset button {
	display: none;
	margin-right: 20px;
	background-color: transparent;
	cursor: pointer;
}
#infoModi .reset button:hover {
	color: #aaa;
	text-decoration: underline;
}
/*右边*/
#collectFold {
	overflow: auto;
	box-sizing: border-box;
	padding-left: 300px;
	font-size: 12px;
	text-align: center;
}
.title {
	font-size: 18px;
	font-weight: bold;
	line-height: 100px;
}
#collectFold {
	overflow: auto;
}
#collectFold>ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#collectFold li{
	overflow: hidden;
	width: 250px;
	height: 240px;
	margin-right: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #000;
	text-align: center;
}
#collectFold li div {
	overflow: hidden;
	width: 250px;
	height: 200px;
	margin: auto;
}
#collectFold li h3 {
	margin-top: 20px;
}
#collectFold li div img {
	width: 100%;
	vertical-align: middle;
}
.storeUl li {
	border-radius: 50%;
}
#collectFold .storeUl li h3 {
	margin-top: 10px;
}

/*welcome界面*/
#welcome {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: #000;
	color: #fff;
	transition: .5s;
}
#welcome h3 {
	position: relative;
	text-align: center;
	margin-top: 150px;
	font-size: 20px;
}
#welcome h3 i {
	position: absolute;
	top: 40px;
	left: 50%;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	font-weight: normal;
	transition-duration: .3s;
}
/*响应*/
@media screen and (max-width: 800px) and (min-width: 450px){
	#welcome {
		width: 400px;
		height: 300px;
	}
	#welcome h3 {
		margin-top: 130px;
	}
}
@media screen and (max-width: 390px) and (min-width: 380px) {
	#welcome {
		width: 350px;
		height: 120px;
	}
	#welcome h3 {
		margin-top: 130px;
	}
}
@media screen and (max-width: 450px) {
	#welcome {
		width: 300px;
		height: 150px;
	}
	#welcome h3 {
		margin-top: 50px;
	}
}
