@charset 'utf-8';
body {
	background-color: rgb(219,222,221);
}
#content {
	width: 100%;
	padding-top: 80px;
}
/*书籍信息*/
#bookinfo{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 100px;
	font-size: 0;
}
#bookinfo li{
	width: 40%;
	height: 400px;
	background-color: #fff;
	font-size: 12px;
}

#bookinfo .bookimg {
	position: relative;
}
.bookimg img {
	width: 100%;
	vertical-align: middle;
}
.bookimg div {
	overflow: hidden;
	width: 300px;
	height: 300px;
	margin: 20px auto;
	border-radius: 50%;
	background-color: #fff;
}
.bookimg em {
	position: absolute;
	top: -100px;
	left: calc(50% - 10px);
	width:20px;
	height: 100px;
	border-radius: 10px;
	background-color: #000;
}
/*书籍信息*/
.bookins {
	box-sizing: border-box;
	padding: 30px 50px;
	color: #000;
	vertical-align: top;
}
.bookins h3 {
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.bookins p {
	border-bottom: 1px solid #000;
	line-height: 30px;
}
.bookins i {
	display: block;
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
}
.bookins i span {
	font-size: 12px;
	vertical-align: middle;
}
/*评论#comments*/
#comments {
	box-sizing: border-box;
	position: relative;
	width: 90%;
	/* height: 500px; */
	padding: 30px 50px;
	margin: 100px auto;
	background-color: #fff;
}
#comments-num {
	margin-bottom: 10px;
}
#comments li {
	position: relative;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	line-height: 18px;
}
#comments em {
	content: '回复';
	position: absolute;
	right: -30px;
	bottom: 0;
	color: #888;
	transform: scale(0.8);
	transition-duration: .3s;
}
#comments em:hover {
	color: #333;
}
#comments li h3 {
	color: rgb(10,13,51);
}
#comments li p {
	color: #888;
}
#comments:before {
	content: "";
	position: absolute;
	top: -100px;
	left: 75%;
	width: 20px;
	height: 100px;
	background-color: #000;
	border-radius: 10px;
}
#add-comment {
	padding-top: 40px;
}
#add-comment {
	width: 100%;
	text-align: right;
}
#add-comment textarea {
	width: 100%;
	height: 50px;
	outline: none;
	resize: none;
	text-align: left;
	color: #555;
	letter-spacing: 1px;
	transition-duration: .3s;
}
@media screen and (max-width: 550px) {
	#add-comment textarea {
		height: 100px;
	}
}
#add-comment textarea:focus {
	border-color: #000;
}
#add-comment button {
	width: 80px;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	cursor: pointer;
	transition-duration: .3s;
}
#add-comment button:hover {
	box-shadow: 0 0 40px #777;
	border-radius: 10px;
}
/*相关书籍*/
#relaBooks {
	position: relative;
	width: 100%;
	height: 400px;
	margin-top: 100px;
	background-color: #fff;
}
#relaBooks h3 {
	text-align: center;
	font-size: 18px;
	line-height: 100px;
}
#relaBooks-box {
	overflow: auto;
	width: 90%;
	margin: auto;
	height:　300px;
}
#relaBooks-box ul {
	width: 1150px;
	height: 240px;
	font-size: 0;
}
#relaBooks ul li {
	overflow: hidden;
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 30px;
	background-color: #fff;
	font-size: 12px;
}
#relaBooks ul li p {
	font-size: 10px;
	text-align: center;
	line-height: 50px;
}
#relaBooks ul li img {
	width: 100%;
}
/* 响应 */
@media screen and (max-width: 800px) {
	.bookimg div {
		width: 200px;
		height: 200px;
	}
	#bookinfo li {
		width: 90%;
		height: auto;
	}
	#comments:before {
		left: calc(50% - 10px);
	}
}
