@charset 'utf-8';
/*searchBox*/

#header {
	border-bottom: 1px solid #000;
}
#searchBox {
	height: 0;
	top: 80px;
	border-bottom: 1px solid #000;
	transition-duration: .3s;
}
#searchBox input {
	width: 100%;
	height: 20px;
	padding-left: 0;
	margin-left: 50px;
	margin-bottom: 20px;
	border-left: 4px solid #000;
	font-size: 14px;
	text-indent: 20px;
}
#searchBox input:first-child {
	margin-top: 20px;
}
#searchBox i {
	line-height: 100px;
}
/*搜索关键词*/
#search-keywors {
	box-sizing: border-box;
	width: 100%;
}
#search-keywors>li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 40px;
	cursor: pointer;
}
#search-keywors>li:last-child{
	transition-duration: .3s;
}
#search-keywors>li:last-child:hover{
	transform: scale(3) rotate(270deg);
}
/*content*/
#content {
	box-sizing: border-box;
	width: 100%;
	padding: 100px 50px 0 50px;
}
#noBookInfo {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 50;
  left: 0;
  right: 0;
  width: 180px;
  height: 50px;
  margin: auto;
  border-radius: 20px;
  background-color: rgb(0,0,0,.7);
  color: #fff;
  text-align: center;
  line-height: 50px;
  opacity: 0;
}
#likeInfo {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 80px;
	height: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition-duration: .3s;
}
.books {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#content .books li {
	position: relative;
	width: 200px;
	box-shadow: 0 0 10px #ccc;
	margin-right: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content .books li a {
	color: #000;
}
#content .books a:hover {
	color: #666;
}
#content .books div {
	overflow: hidden;
	width: 200px;
	height: 150px;
	background-color: #fff;
}
#content .books img {
	width: 100%;
}
#content .books li p,
#content .books li h3 {
	width: 100%;
	text-align: center;
	line-height: 30px;
}
i.icon-heart-fill {
	box-sizing: border-box;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 50%;
	background-color: rgba(255,255,255,.7);
	font-size: 26px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	transform: translateY(-120px);
	transition-duration: .3s;
}
#content .books li:hover i.icon-heart-fill {
	transform: translateY(0);
}
@media screen and (max-width: 768px) {
	#content .books li i.icon-heart-fill {
		transform: translateY(0);
	}
}
/**/
#addMore {
	width: 100%;
	height: 60px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
/**/
#addMore:hover {
	color: #777;
}

/*收藏夹*/
#collects {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 4px;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 20px #ccc;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
#collects .info {
	position: absolute;
	top: -30px;
	left: -25px;
	width: 50px;
	height: 30px;
	border-radius: 20px;
	font-size: 12px;
	line-height: 30px;
	background-color: #000;
	color: #fff;
	opacity: 0;
	transition-duration: .6s;
}
#collects:hover .info {
	opacity: 1;
}
/* 收藏夹盒子 */
#collets-box {
	overflow: auto;
  position: absolute;
  right: 40px;
	top: -150px;
	width: 0;
	max-height: 420px;
  box-shadow: 0 0 10px #000;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  line-height: 20px;
	transition-duration: .3s;
}
#collets-box li a {
	color: #000;
}
#collets-box li {
  position: relative;
  border-bottom: 1px solid #000;
}
#collets-box li .icon-lajixiang {
  position: absolute;
  right: 2px;
  top: 20px;
  margin: auto;
}
#collets-box li .icon-lajixiang:hover {
  color: #f00;
}
/**/
#footer {
	width: 100%;
	height: 200px;
	background-color: #000;
}
