@charset 'utf-8';
/*searchBox*/
#container {

}
#header {
	border-bottom: 1px solid #000;
}
#searchBox {
	height: 0;
	top: 80px;
	border-bottom: 1px solid #000;
	transition-duration: .3s;
}
#searchBox input {
	width: 100%;
	height: 20px;
	padding-left: 0;
	margin-left: 50px;
	margin-bottom: 20px;
	border-left: 4px solid #000;
	font-size: 14px;
	text-indent: 20px;
}
#searchBox input:first-child {
	margin-top: 20px;
}
#searchBox i {
	line-height: 100px;
}
/*搜索关键词*/
#search-keywors {
	box-sizing: border-box;
	width: 100%;
}
#search-keywors li{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 40px;
	cursor: pointer;
}
#search-keywors li:last-child{
	transition-duration: .3s;
}
#search-keywors li:last-child:hover{
	transform: scale(3) rotate(270deg);
}
/*content*/
#content {
	box-sizing: border-box;
	width: 100%;	
	padding: 100px 50px 0 50px;
}
.books {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#content .books li {
	position: relative;
	width: 200px;
	box-shadow: 0 0 10px #ccc;
	margin-right: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#content .books li a {
	color: #000;
}
#content .books div {
	overflow: hidden;
	width: 200px;
	height: 150px;
	background-color: #fff;
}
#content .books img {
	width: 100%;
}
#content .books li p,
#content .books li h3 {
	width: 100%;
	text-align: center;
	line-height: 30px;
}
i.icon-heart-fill {
	box-sizing: border-box;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
	margin: auto;
	border-radius: 50%;
	background-color: rgba(255,255,255,.7);
	font-size: 26px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	transform: translateY(-120px);
	transition-duration: .3s;
}
#content .books li:hover i.icon-heart-fill {
	transform: translateY(0);	
}
/**/
#addMore {
	width: 100%;
	height: 60px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
/**/
#addMore:hover {
	color: #777;
}
/**/
#footer {
	width: 100%;
	height: 200px;
	background-color: #000;
}