@charset "utf-8";
#container {
	width: 100%;
}
/**/
#content {
	padding: 100px 50px 0 50px;
}
#likeInfo {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 80px;
	height: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition-duration: .3s;
}
#content #store-list>li{
	position: relative;
	width: 800px;
	margin: auto;
	margin-bottom: 150px;
}
#content #store-list>li:before {
	content: "";
	position: absolute;
	top: 280px;
	left: calc(50% - 3px);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #000;
}
#content #store-list>li:after {
	content: "";
	position: absolute;
	top: 280px;
	left: 50%;
	width: 2px;
	height: 120px;
	background-color: #000;
}
#store-list>li .store-info{
	overflow: hidden;
	width: 300px;
	box-shadow: 0 0 10px #aaa;
}
#store-list>li .store-slogan {
	text-align: center;
}
#store-list>li .store-img {
	overflow: hidden;
	width: 100%;
	height: 200px;
}
#store-list>li .store-img img {
	width: 100%;
}
#content #store-list>li:nth-child(2n+1) {
	text-align: left;
}
#content #store-list>li:nth-child(2n) {
	text-align: right;
}
#content #store-list>li:nth-child(2n) .store-info{
	display: inline-block;
}
#store-list .store-name{
	width: 300px;
	line-height: 50px;
	text-align: center;
}
#store-list>li .store-time {
	position: absolute;
	top: 100%;
	color: #666;
	transition-duration: .3s;
}
#store-list>li .store-time:hover {
	transform: translate(30px);
}
#store-list li:nth-child(2n) .store-time{
	right: 75%;
}
#store-list li:nth-child(2n+1) .store-time{
	left: 75%;
}

/*响应*/
@media screen and (max-width: 800px) {
	#content {
		padding-right: 20px;
		padding-left: 20px;
	}
	#content #store-list>li{
		position: relative;
		width: 100%;
		margin: auto;
		margin-bottom: 150px;
	}
	#store-list>li .store-info{
		width: 300px;
	}
	#store-list>li .store-img {
		width: 100%;
	}
	#store-list>li .store-time {
		top: calc(100% + 20px);
		/* transform: none; */
		/* text-align: center; */
	}
}
@media screen and (max-width: 350px) {
	#store-list>li .store-info{
		width: 90%;
	}
	#store-list>li .store-img {
		width: 100%;
		height: 150px;
	}
	#store-list>li .store-time {
		right: 50%;
		transform: none;
	}
}
