@charset "utf-8";
/* header */
#header {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}
/*logo*/
#header h2 {
	position: absolute;
	left: 50px;
	border-bottom: 3px solid #000;
	font-size: 18px;
}
#header h1 {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	margin: auto;
	font-size: 14px;
}
#header #storeInfo {
	position: absolute;
	left: 0;
	right: 0;
	width: 60px;
	padding: 2px 0;
	margin: auto;
	border-radius: 8px;
	background-color: #000;
	color: #fff;
}
#header #storeInfo:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -12px;
	width:0;
	height: 0;
	margin: auto;
	border: 6px solid #000;
	border-left-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
}
/*content*/
#content {
	padding-top: 80px;
}
#noBooksInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 50px;
  margin: auto;
  border-radius: 20px;
  line-height: 50px;
  text-align: center;
  background-color: #000;
  color: #fff;
  opacity: 0;
  transition-duration: .3s;
}
#likeInfo {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 80px;
	height: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition-duration: .3s;
}
#content .bookUl {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#content .bookUl li{
	overflow: hidden;
	position: relative;
	width: 300px;
	height: 370px;
	margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	box-shadow: 0 0 15px #aaa;
	transition-duration: 1s;
	border-radius: 10%;
}
#content .bookUl li i {
	display: block;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
}
#content .bookUl li:after {
	content: "";
	position: absolute;
	top: -100px;
	left: 150px;
	width: 2px;
	height: 100px;
	background-color: #ccc;
}
#content .bookUl li h3,
#content .bookUl li p {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	line-height: 30px;
}
#content .bookUl .img {
	overflow: hidden;
	width: 300px;
	height: 200px;
	background-color: #ccc;
}
#content .bookUl .img img {
	width: 100%;
}
/*  */
#collects {
	top: 20px;
}
/* 响应 */
@media screen and (min-width:800px) {
	#content .bookUl li:nth-child(1){
		animation: shake2 ease-in-out 10s infinite;
	}
	@keyframes shake2 {
		0% {
			border-radius: 10%;
		}
		40% {
			border-radius: 20% 30% 60% 50%/20% 30% 34% 50%;
		}
		80% {
			border-radius: 40% 30% 40% 40%/30% 30% 34% 20%;
		}
		100% {
			border-radius: 10%;
		}
	}
	#content .bookUl li:hover {
		border-radius: 20% 30% 60% 50%/20% 30% 34% 50%;
		-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	   -ms-backface-visibility: hidden;
	   backface-visibility: hidden;
	
	   -webkit-perspective: 1000;
	   -moz-perspective: 1000;
	   -ms-perspective: 1000;
	   perspective: 1000;
	
	/**webkit上也可以用以下语句  **/
	   -webkit-transform: translate3d(0, 0, 0);
	   -moz-transform: translate3d(0, 0, 0);
	   -ms-transform: translate3d(0, 0, 0);
	   transform: translate3d(0, 0, 0);
	}
}