@charset 'utf-8';
#container {
	width: 100%;
	height: 100%;
}
#header {
	position: fixed;
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	border-bottom: 4px solid #000;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}
#logo {
	position: absolute;
	left: 50px;
	border-bottom: 3px solid #000;
	font-size: 18px;
}
#user-menu {
	display: none;
	position: absolute;
	right: 20px;
	font-size: 30px;
	transition-duration: .3s;
}
#menuUl {
	position: absolute;
	top: 80px;
	width: 100%;
	transform: translate(100%);
	transition-duration: .3s;
}
#menuUl li{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #fff;
	background-color: rgb(170,170,170);
	color: #fff;
	line-height: 80px;
	text-align: center;
	transition-duration: .3s;
}
#menuUl li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
}
#menuUl li:hover {
	color: #fff;
	background-color: #000;
	transform: scale(1.2);
}
/**/
#content {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100% - 80px);
	padding-top: 80px;
}
#content>ul {
	width: 200%;
	font-size: 0;
	transition-duration: .3s;
}
#content>ul>li {
	overflow: auto;
	display: inline-block;
	width: 50%;
	height: 550px;
	vertical-align: top;
	background-color: #fff;
}
@media screen and (max-width: 620px) {
	#content>ul>li:nth-child(1){
		padding-right: 0;
	}
	#content>ul>li:nth-child(2){
		padding-left: 0;
	}
	#userNav {
		display: none;
	}
	#user-menu {
		display: block;
	}
}
/*下面这个就是#userNav*/
#userNav {
	position: fixed;
	top: 80px;
	left: 0;
	right: 0;
	margin: auto;
	width: 300px;
	height: 900px;
	border-left: 300px solid #fff;
	background-color: #000;
	color: #fff;
	perspective: 1000px;
	transition-duration: .5s;
}
#userNav p{
	position: absolute;
	left: -50px;
	width: 350px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	transform-style: preserve-3d;
	transform-origin: right;
	transform: rotateZ(-30deg) rotateY(-10deg);
	transition-duration: .3s;
}
#userNav p a {
	color: #fff;
}
#userNav p:nth-child(2) {
	top: 100px;
	left: -57px;
}
#userNav p:nth-child(3) {
	top: 177px;
	left: -36px;
}
#userNav p:nth-child(4)  {
	top: 230px;
	left: 22px;
}
#userNav p:hover {
	transform: rotateZ(-30deg) rotateY(0);
}
/*infoModi*/
#infoModi {
	box-sizing: border-box;
	font-size: 12px;
	padding-right: 300px;
}
#infoModi h3 {
	text-align: center;
	background: #fff;
	margin-top: 50px;
	margin-bottom: 30px;
}
#infoModi h3 i {
	font-size: 60px;
}
#infoModi p {
	height: 50px;
	/*margin-top: 50px;*/
	text-align: center;
	background-color: #fff;
}
#infoModi span {
	display: inline-block;
	width: 60px;
	margin-right: 30px;
	text-align: left;
	vertical-align: middle;
}
#infoModi input {
	width: 200px;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	vertical-align: middle;
	cursor: text;
}
#infoModi .reset {
 	text-align: center;
}
#infoModi .reset i {
	margin-right: 20px;
}
#infoModi .reset i:hover {
	color: #aaa;
}
#infoModi .reset button {
	display: none;
	margin-right: 20px;
	background-color: transparent;
	cursor: pointer;
}
#infoModi .reset button:hover {
	color: #aaa;
	text-decoration: underline;
}
/*右边*/
#collectFold {
	overflow: auto;
	box-sizing: border-box;
	padding-left: 300px;
	font-size: 12px;
	text-align: center;
}
.title {
	font-size: 18px;
	font-weight: bold;
	line-height: 100px;
}
#collectFold {
	overflow: auto;
}
#collectFold>ul {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#collectFold li{
	overflow: hidden;
	width: 250px;
	height: 240px;
	margin-right: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #000;
	text-align: center;
}

#collectFold li i:hover {
	color: #888;
}
#collectFold li div {
	overflow: hidden;
	width: 250px;
	height: 200px;
	margin: auto;
}
#collectFold li h3 {
	margin-top: 20px;
}
#collectFold li div img {
	width: 100%;
	vertical-align: middle;
}
.storeUl li {
	border-radius: 50%;
}
#collectFold .storeUl li h3 {
	margin-top: 10px;
}

/*welcome界面*/
#welcome {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: #000;
	color: #fff;
	transition: .5s;
}
#welcome h3 {
	position: relative;
	text-align: center;
	margin-top: 150px;
	font-size: 20px;
}
#welcome h3 i {
	position: absolute;
	top: 40px;
	left: 50%;
	border-bottom: 1px solid #fff;
	font-size: 12px;
	font-weight: normal;
	transition-duration: .3s;
}
/*响应*/
@media screen and (max-width: 800px) and (min-width: 450px){
	#welcome {
		width: 400px;
		height: 300px;
	}
	#welcome h3 {
		margin-top: 130px;
	}
}
@media screen and (max-width: 390px) and (min-width: 380px) {
	#welcome {
		width: 350px;
		height: 120px;
	}
	#welcome h3 {
		margin-top: 130px;
	}
}
@media screen and (max-width: 450px) {
	#welcome {
		width: 300px;
		height: 150px;
	}
	#welcome h3 {
		margin-top: 50px;
	}
}
/* 登录注册 */
#regitLog {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	font-size: 18px;
	-webkit-tap-highlight-color: transparent;
	z-index: 30;
}
/* 注册 */
.regit,
.login {
	display: none;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	height: 400px;
	padding: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.regit {
	/*display: none;*/
	height: 460px;
}
.login {
	height: 300px;
}
@media screen and (max-width: 400px) and (min-width: 315px) {
	.regit,
	.login {
		width: 100%;
	}
}
.regit h4,
.login h4 {
	margin-bottom: 20px;
}
.login h4 span {
	font-size: 12px;
	color: #aaa;
}
.login h4 span:first-child {
	margin-left: 20px;
}
#regitLog i {
	display: inline-block;
	position: relative;
	font-size: 30px;
	vertical-align: middle;
	margin-bottom: 30px;
	margin-right: 20px;
}
#regitLog i em {
	position: absolute;
	font-size: 12px;
	left: 30px;
	top: 30px;
	width: 250px;
	color: #f00;
	text-align: left;
	transform: scale(0.8);
}
#registOk,
#loginOk {
	font-size: 12px;
	color: #f00;
	transform: scale(0.8);
}
#regitLog input:not([type="button"]):not([type="submit"]) {
	display: inline-block;
	width: 80%;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: 2px;
	transition-duration: .3s;
}
#regitLog input:not([type="submit"]):not([type="button"]):focus {
	border-color: #000;
}
#cancelBtn {
	margin-right: 20px;
}
input[type="submit"],
input[type="button"] {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	transition-duration: .3s;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #ccc;
	color: #000;
}
/* 登录 */
a{
	color: #aaa;

}
a:hover {
	color: #000;
}

#top {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 90px;
	margin: auto;
	line-height: 30px;
	text-align: right;
}
#top a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0 0 10px #ccc;
	text-align: center;
	line-height: 40px;
	transition-duration: .3a;
}
#top a:first-child{
	margin-bottom: 10px;
}
/* 提示信息 */
#likeInfo {
	position: fixed;
	z-index: 10;
	right: 100px;
	top: 0;
	bottom: 0;
	width: 100px;
	height: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	text-align: center;
	opacity: 0;
	transition-duration: .3s;
}
