/* header */
#header {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 80px;
	padding-top: 20px;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}
.h-shadow {
	box-shadow:0 5px 10px #ccc;
}
/*searchBox*/
#searchBox {
	position: absolute;
	box-sizing: border-box;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	margin: auto;
	background-color: #000;
	text-align: left;
	z-index: 100;
	transition-duration: .3s;
}
#searchBox input {
	width: 100%;
	height: 100%;
	padding: 0 50px;
	padding-right: 120px;
	font-size: 20px;
	letter-spacing: 2px;
}
#searchBox i {
	position: absolute;
	right: 35px;
	top: 20px;
	font-size: 40px;
	color: #000;
	transition-duration: .3s;
}
#searchBox i:hover {
	transform: rotate(180deg);
}
/*logo*/
#header h2 {
	position: absolute;
	left: 50px;
	border-bottom: 3px solid #000;
	font-size: 18px;
}
ul#nav li:hover {
	color: #000;
}
/* 登录注册 */
#regitLog {
	position: fixed;
	display: none;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	font-size: 18px;
	-webkit-tap-highlight-color: transparent;
	z-index: 20;
}
/* 注册 */
.regit,
.login {
	display: none;
	position: absolute;
	box-sizing: border-box;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 400px;
	height: 400px;
	padding: 30px;
	margin: auto;
	border-radius: 10px;
	background-color: #fff;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
}
.regit {
	/*display: none;*/
	height: 460px;
}
.login {
	height: 350px;
}
@media screen and (max-width: 400px) and (min-width: 315px) {
	.regit,
	.login {
		width: 100%;
	}
}
.regit h4,
.login h4 {
	margin-bottom: 20px;
}
.login h4 span {
	font-size: 12px;
	color: #aaa;
}
.login h4 span:first-child {
	margin-left: 20px;
}
#regitLog i {
	display: inline-block;
	font-size: 30px;
	vertical-align: middle;
	margin-bottom: 30px;
	margin-right: 20px;
}
#regitLog input:not([type="button"]):not([type="submit"]) {
	display: inline-block;
	width: 80%;
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	font-size: 14px;
	letter-spacing: 2px;
	transition-duration: .3s;
}
#regitLog input:not([type="submit"]):not([type="button"]):focus {
	border-color: #000;
}
#regitLog input[type="submit"] {
	margin-right: 20px;
}
input[type="submit"],
input[type="button"] {
	width: 80px;
	height: 30px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	line-height: 30px;
	transition-duration: .3s;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="button"]:hover {
	background-color: #ccc;
	color: #000;
}
/* 登录 */
a{
	color: #aaa;
	
}
a:hover {
	color: #000;
}
/*响应式前*/
@media screen and (min-width: 800px){
	ul#nav {
		display: inline-block;
		width: auto;
		margin-top: 5px;
	}
	ul#nav li{
		display: inline-block;
		margin-right: 40px;
		color: #aaa;
		transition-duration: .2s;
	}
	ul#nav li:hover{
		border-bottom: 1px solid #000;
	}
	#menu {
		display: none;
	}
} 

/*响应式后*/
/*右边菜单键*/
@media screen and (max-width: 800px){
	#menu {
		position: absolute;
		top: 0;
		right: 20px;
		line-height: 80px;
	}
	i#menu{
		font-size: 30px;
		color: #aaa;
	}
	i#menu:hover {
		color: #000;
	}
	ul#nav {
		position: absolute;
		right: 0;
		top: 80px;
		width: 100%;
		transform: translateX(100%);
		transition-duration: .3s;
	}
	ul#nav li{
		box-sizing: border-box;
		display: block;
		line-height: 60px;
		padding: 0 50px;
		color: #fff;
		background-color: #aaa;
		transition-duration: .2s;
	}
	ul#nav li:hover {
		background-color: #000;
		color: #fff;
	}
	ul#nav li a {
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #fff;
	}
	ul#nav li a:hover {
		color: #000;
	}
	/*收藏夹*/
	#collects {
		left: 0;
	}
}